code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GilroyI';
    src: url('fonts/Gilroy-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:root {
    --grey-color: #9b9b9b;
    --hover-color: #eb1f40;
}

body {
    font-family: 'Gilroy', 'Roboto', sans-serif;
    position: relative;
    background: #fff;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    min-width: 320px;
}
.content {
    flex-grow: 1;
    position: relative;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
h2 {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: 0.322s;
}
a:hover {
    color: var(--hover-color);
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
    padding: 0;
    cursor: pointer;
    transition: 0.322s;
}
button:hover {
    color: var(--hover-color);
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
svg path {
    transition: 0.322s;
}
/* header */
.header__inner {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
    padding-top: 20px;
    height: 88px;
}
.header__contacts {
    margin-left: 30px;
    color: #999;
    max-width: 260px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}
.header__item {
    margin: 0 4px;
}
.header__city {
    background-color: inherit;
    color: #999;
}
.header__account {
    font-weight: bold;
    margin-top: 8px;
    display: block;
}
.header__menu {
    margin-left: auto;
}
.header__button {
    padding: 10px 20px;
    border-radius: 19px;
    background-color: white;
    color: var(--grey-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    margin-top: -4px;
}
.header__button:hover span {
    color: var(--hover-color);
}
.header__button span {
    font-size: 15px;
    color: var(--grey-color);
    padding-right: 30px;
    position: relative;
}
.header__button span:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    background-image: url('/img/egg.svg');
    width: 17px;
    height: 18px;
}
.header__basket {
    margin-left: 50px;
    display: flex;
    align-items: center;
    color: #999;
    font-size: 13px;
}
.header__basket span {
    margin-right: 10px;
}

.logo {
    width: 14%;
    cursor: pointer;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 215px;
    cursor: pointer;
    font-weight: normal;
    color: #999;
    margin: 0 -7.5px;
}
.menu__item {
    margin: 0 7.5px;
}
.menu__item:last-child {
    margin-top: 8px;
    display: block;
}

/* footer */
.footer {
    position: sticky;
    bottom: 0;
    padding: 22px 0;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: normal;
    color: #999;
}
.footer__left {
    display: flex;
    align-items: center;
}
.footer__socials {
    display: flex;
    align-items: center;
    margin: 0 -8px;
}
.footer__socials-item {
    display: flex;
    margin: 0 8px;
    cursor: pointer;
}
.footer__socials-item:hover svg path {
    fill: var(--hover-color);
}
.footer__map {
    margin-left: 40px;
}
.footer__menu-list {
    display: flex;
    align-items: center;
    margin: 0 -7.5px;
}
.footer__menu-item {
    margin: 0 7.5px;
    flex: 0 0 auto;
}
.footer__menu-item--red {
    color: var(--hover-color);
}

.payment__list {
    display: flex;
    align-items: center;
    margin: 0 -6px;
}
.payment__item {
    margin: 0 6px;
}
.payment__link {
    width: 80px;
    display: block;
}

/* main */
.main__grid {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.main__col {
    width: 25%;
    height: 41.3vw;
    overflow: hidden;
    color: #fff;
    position: relative;
}

.category {
    display: block;
}

.category--sets,
.category--wok {
    height: 100%;
}
.category--sets .category__img img {
    margin-top: -10%;
    transition: margin 1s;
    width: 90%;
}
.category--sets:hover .category__img img {
    margin-top: 0;
    margin-bottom: -10%;
}
.category__title {
    font-size: 1.5vw;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.category__title--big {
    font-size: 3.5vw;
    margin-left: 15%;
}

.category--row {
    display: flex;
    align-items: center;
    padding: 0 7%;
}
.category--row .category__img {
    width: 58.33333333%;
    margin-bottom: -7%;
}
.category--row .category__title {
    width: 41.66666667%;
}

.category--row .category__img img {
    transition: margin 1s;
}

.category--rolls .category__img img {
    margin-left: -35%;
    padding-top: 5%;
}
.category--rolls:hover .category__img img {
    margin-left: -5%;
}

.category--sushi .category__title {
    text-align: right;
}
.category--sushi .category__img img {
    margin-left: 55%;
}
.category--sushi:hover .category__img img {
    margin-left: 30%;
}

.category--fried .category__title {
    font-size: 1.2vw;
}
.category--fried .category__img img {
    margin-left: -34%;
}
.category--fried:hover .category__img img {
    margin-left: -4%;
}

.category--baked .category__title {
    text-align: right;
    font-size: 1.2vw;
}
.category--baked .category__img img {
    margin-left: 40%;
}
.category--baked:hover .category__img img {
    margin-left: 15%;
}

.category--wok .category__title {
    padding: 10% 10% 1% 10%;
    font-size: 3.5vw;
    color: #f32b2b;
    margin-left: 0;
}
.category--wok .category__subtitle {
    padding-left: 10%;
    font-size: 1vw;
    color: #f32b2b;
    text-transform: uppercase;
}
.category--wok .category__img img {
    margin-left: -14%;
    transition: 1s;
}
.category--wok:hover .category__img img {
    margin-left: 0;
}
.category--soup .category__img {
    width: 81%;
    height: auto;
    float: right;
    margin: -19.5% 8.5% 12% 0;
    transform: rotate(-15deg);
    transition: transform 1s;
}
.category--soup .category__title {
    margin-top: -10%;
}
.category--soup:hover .category__img {
    transform: rotate(0);
}

.category--temp {
    display: flex;
    align-items: center;
}
.category--temp .category__title {
    width: 50%;
    color: #f32b2b;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.8vw;
    padding-right: 7%;
}
.category--temp .category__img {
    width: 50%;
}
.category--temp .category__img img {
    margin: 0 0 0 -15%;
    width: 75%;
    height: auto;
    transition: margin 1s;
}
.category--temp:hover .category__img img {
    margin: 0 0 0 15%;
}
.category--drink {
    display: flex;
}
.category--drink .category__title {
    width: 50%;
    color: #f32b2b;
    text-transform: uppercase;
    font-size: 1.8vw;
    padding: 10% 0 0 13%;
}
.category--drink .category__img {
    width: 45%;
}
.category--drink .category__img img {
    margin-top: 11%;
    transition: margin 1s;
}
.category--drink:hover .category__img img {
    margin-top: -11%;
}

/* catalog */
.catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -5px 0;
}
.catalog__item {
    width: calc(100% / 3 - 10px);
    margin: 0 5px 10px;
}

.item-card {
    display: flex;
    background: #efeff4;
    height: 100%;
    cursor: pointer;
}
.item-card__img {
    width: 58.33333333%;
    display: flex;
    justify-content: center;
}
.item-card__img img {
    padding-top: 6px;
    padding-bottom: 6px;
    max-height: 13.5vw;
    width: auto;
}

.item-card__text {
    width: 41.66666667%;
    padding: 0.9vw;
    display: flex;
    flex-direction: column;
}
.item-card__title {
    font-size: 1.15vw;
    color: #333;
}
.item-card__descr,
.item-card__size {
    color: #666;
    font-size: 0.67vw;
    line-height: 1.2em;
    margin: 0;
}
.item-card__descr {
    margin-top: 5px;
}
.item-card__size {
    margin-bottom: 5px;
}
.item-card__bottom {
    margin-top: auto;
    display: flex;
    align-items: center;
}
.item-card__price {
    font-size: 1.5vw;
    color: #333;
}
.item-card__button {
    margin-left: 10%;
    /* width: 100%; */
    height: 2vw;
    border-radius: 4px;
    background-color: var(--hover-color);
    text-transform: uppercase;
    font-size: 0.7vw;
    text-align: center;
    color: #fff;
    padding: 0 10px;
    font-weight: bold;
    transition: 0.522s;
}
.item-card__button:hover {
    background-color: #fff;
    color: var(--hover-color);
}

.basketTest {
    text-align: center;
    font-size: 32px;
}

/* modal */
.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    display: none;
}
.modal-show {
    display: block;
}
.overlay {
    background-color: #333;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}
.modal__inner {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.modal__img,
.modal__info {
    width: 50%;
}
.modal__img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__info {
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.modal__title {
    font-size: 20px;
    text-align: center;
}
.modal__contain {
    margin-top: 20px;
    width: 100%;
}
.modal__price {
    font-size: 32px;
    margin-right: 20px;
}
.modal__bottom {
    margin-top: auto;
    display: flex;
}
.modal__button {
    margin-left: 10%;
    height: 2vw;
    border-radius: 4px;
    background-color: var(--hover-color);
    text-transform: uppercase;
    font-size: 0.7vw;
    text-align: center;
    color: #fff;
    padding: 0 10px;
    font-weight: bold;
    transition: 0.522s;
    display: flex;
    align-items: center;
}
